* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 7px 7px 14px #cbcccb;
}

input[type="text"] {
  padding: 1.2rem;
}

button {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1rem 2rem;
  color: #2e2d2d;
  flex: 1;
  width: 25%;
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #bbc7f1;
}

.number-btn {
  background: white;
}

.operator-btn {
  background: #e7ecfd;
}

.result {
  width: 100%;
  background: #5776e0;
}

.result input,
.result .value {
  width: 100%;
  color: white;
  background: inherit;
  border: none;
  text-align: right;
  font-size: 1.3rem;
  font-weight: 600;
}

.row {
  display: flex;
}

.row:last-child button:first-child {
  background: #fad4cf;
}
